*[class*=col-xl], *[class*=col-lg], *[class*=col-md], *[class*=col-sm] {
  grid-column: auto/span 12;
}

.agrid {
  --agrid-gap: 0.25rem;
  --agrid-gap-md: 0.75rem;
  --agrid-gap-lg: 1rem;
  --agrid-gap-xl: 1.5rem;
  --agrid-x-padding: 0px;
  --agrid-x-margin: 0px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--agrid-gap);
  padding-inline: var(--agrid-x-padding);
  margin-inline: var(--agrid-x-margin);
}

@media (min-width: 768px) {
  .agrid {
    --agrid-gap: var(--agrid-gap-md);
  }
}
@media (min-width: 992px) {
  .agrid {
    --agrid-gap: var(--agrid-gap-lg);
  }
}
@media (min-width: 1200px) {
  .agrid {
    --agrid-gap: var(--agrid-gap-xl);
  }
}
.acol-1 {
  grid-column: auto/span 1;
}

.acol-2 {
  grid-column: auto/span 2;
}

.acol-3 {
  grid-column: auto/span 3;
}

.acol-4 {
  grid-column: auto/span 4;
}

.acol-5 {
  grid-column: auto/span 5;
}

.acol-6 {
  grid-column: auto/span 6;
}

.acol-7 {
  grid-column: auto/span 7;
}

.acol-8 {
  grid-column: auto/span 8;
}

.acol-9 {
  grid-column: auto/span 9;
}

.acol-10 {
  grid-column: auto/span 10;
}

.acol-11 {
  grid-column: auto/span 11;
}

.acol-12 {
  grid-column: auto/span 12;
}

.acol-start-1 {
  grid-column-start: 2;
}

.acol-start-2 {
  grid-column-start: 3;
}

.acol-start-3 {
  grid-column-start: 4;
}

.acol-start-4 {
  grid-column-start: 5;
}

.acol-start-5 {
  grid-column-start: 6;
}

.acol-start-6 {
  grid-column-start: 7;
}

.acol-start-7 {
  grid-column-start: 8;
}

.acol-start-8 {
  grid-column-start: 9;
}

.acol-start-9 {
  grid-column-start: 10;
}

.acol-start-10 {
  grid-column-start: 11;
}

.acol-start-11 {
  grid-column-start: 12;
}

.acol-start-12 {
  grid-column-start: 13;
}

@media (min-width: 576px) {
  .acol-sm-1 {
    grid-column: auto/span 1;
  }

  .acol-sm-2 {
    grid-column: auto/span 2;
  }

  .acol-sm-3 {
    grid-column: auto/span 3;
  }

  .acol-sm-4 {
    grid-column: auto/span 4;
  }

  .acol-sm-5 {
    grid-column: auto/span 5;
  }

  .acol-sm-6 {
    grid-column: auto/span 6;
  }

  .acol-sm-7 {
    grid-column: auto/span 7;
  }

  .acol-sm-8 {
    grid-column: auto/span 8;
  }

  .acol-sm-9 {
    grid-column: auto/span 9;
  }

  .acol-sm-10 {
    grid-column: auto/span 10;
  }

  .acol-sm-11 {
    grid-column: auto/span 11;
  }

  .acol-sm-12 {
    grid-column: auto/span 12;
  }
}
@media (min-width: 768px) {
  .acol-md-1 {
    grid-column: auto/span 1;
  }

  .acol-md-2 {
    grid-column: auto/span 2;
  }

  .acol-md-3 {
    grid-column: auto/span 3;
  }

  .acol-md-4 {
    grid-column: auto/span 4;
  }

  .acol-md-5 {
    grid-column: auto/span 5;
  }

  .acol-md-6 {
    grid-column: auto/span 6;
  }

  .acol-md-7 {
    grid-column: auto/span 7;
  }

  .acol-md-8 {
    grid-column: auto/span 8;
  }

  .acol-md-9 {
    grid-column: auto/span 9;
  }

  .acol-md-10 {
    grid-column: auto/span 10;
  }

  .acol-md-11 {
    grid-column: auto/span 11;
  }

  .acol-md-12 {
    grid-column: auto/span 12;
  }
}
@media (min-width: 992px) {
  .acol-lg-1 {
    grid-column: auto/span 1;
  }

  .acol-lg-2 {
    grid-column: auto/span 2;
  }

  .acol-lg-3 {
    grid-column: auto/span 3;
  }

  .acol-lg-4 {
    grid-column: auto/span 4;
  }

  .acol-lg-5 {
    grid-column: auto/span 5;
  }

  .acol-lg-6 {
    grid-column: auto/span 6;
  }

  .acol-lg-7 {
    grid-column: auto/span 7;
  }

  .acol-lg-8 {
    grid-column: auto/span 8;
  }

  .acol-lg-9 {
    grid-column: auto/span 9;
  }

  .acol-lg-10 {
    grid-column: auto/span 10;
  }

  .acol-lg-11 {
    grid-column: auto/span 11;
  }

  .acol-lg-12 {
    grid-column: auto/span 12;
  }
}
@media (min-width: 1200px) {
  .acol-xl-1 {
    grid-column: auto/span 1;
  }

  .acol-xl-2 {
    grid-column: auto/span 2;
  }

  .acol-xl-3 {
    grid-column: auto/span 3;
  }

  .acol-xl-4 {
    grid-column: auto/span 4;
  }

  .acol-xl-5 {
    grid-column: auto/span 5;
  }

  .acol-xl-6 {
    grid-column: auto/span 6;
  }

  .acol-xl-7 {
    grid-column: auto/span 7;
  }

  .acol-xl-8 {
    grid-column: auto/span 8;
  }

  .acol-xl-9 {
    grid-column: auto/span 9;
  }

  .acol-xl-10 {
    grid-column: auto/span 10;
  }

  .acol-xl-11 {
    grid-column: auto/span 11;
  }

  .acol-xl-12 {
    grid-column: auto/span 12;
  }
}
@media (min-width: 576px) {
  .acol-sm-offset-1 {
    grid-column-start: 2;
  }

  .acol-sm-offset-2 {
    grid-column-start: 3;
  }

  .acol-sm-offset-3 {
    grid-column-start: 4;
  }

  .acol-sm-offset-4 {
    grid-column-start: 5;
  }

  .acol-sm-offset-5 {
    grid-column-start: 6;
  }

  .acol-sm-offset-6 {
    grid-column-start: 7;
  }

  .acol-sm-offset-7 {
    grid-column-start: 8;
  }

  .acol-sm-offset-8 {
    grid-column-start: 9;
  }

  .acol-sm-offset-9 {
    grid-column-start: 10;
  }

  .acol-sm-offset-10 {
    grid-column-start: 11;
  }

  .acol-sm-offset-11 {
    grid-column-start: 12;
  }
}
@media (min-width: 768px) {
  .acol-md-offset-1 {
    grid-column-start: 2;
  }

  .acol-md-offset-2 {
    grid-column-start: 3;
  }

  .acol-md-offset-3 {
    grid-column-start: 4;
  }

  .acol-md-offset-4 {
    grid-column-start: 5;
  }

  .acol-md-offset-5 {
    grid-column-start: 6;
  }

  .acol-md-offset-6 {
    grid-column-start: 7;
  }

  .acol-md-offset-7 {
    grid-column-start: 8;
  }

  .acol-md-offset-8 {
    grid-column-start: 9;
  }

  .acol-md-offset-9 {
    grid-column-start: 10;
  }

  .acol-md-offset-10 {
    grid-column-start: 11;
  }

  .acol-md-offset-11 {
    grid-column-start: 12;
  }
}
@media (min-width: 992px) {
  .acol-lg-offset-1 {
    grid-column-start: 2;
  }

  .acol-lg-offset-2 {
    grid-column-start: 3;
  }

  .acol-lg-offset-3 {
    grid-column-start: 4;
  }

  .acol-lg-offset-4 {
    grid-column-start: 5;
  }

  .acol-lg-offset-5 {
    grid-column-start: 6;
  }

  .acol-lg-offset-6 {
    grid-column-start: 7;
  }

  .acol-lg-offset-7 {
    grid-column-start: 8;
  }

  .acol-lg-offset-8 {
    grid-column-start: 9;
  }

  .acol-lg-offset-9 {
    grid-column-start: 10;
  }

  .acol-lg-offset-10 {
    grid-column-start: 11;
  }

  .acol-lg-offset-11 {
    grid-column-start: 12;
  }
}
@media (min-width: 1200px) {
  .acol-xl-offset-1 {
    grid-column-start: 2;
  }

  .acol-xl-offset-2 {
    grid-column-start: 3;
  }

  .acol-xl-offset-3 {
    grid-column-start: 4;
  }

  .acol-xl-offset-4 {
    grid-column-start: 5;
  }

  .acol-xl-offset-5 {
    grid-column-start: 6;
  }

  .acol-xl-offset-6 {
    grid-column-start: 7;
  }

  .acol-xl-offset-7 {
    grid-column-start: 8;
  }

  .acol-xl-offset-8 {
    grid-column-start: 9;
  }

  .acol-xl-offset-9 {
    grid-column-start: 10;
  }

  .acol-xl-offset-10 {
    grid-column-start: 11;
  }

  .acol-xl-offset-11 {
    grid-column-start: 12;
  }
}

/*# sourceMappingURL=agrid.css.map */
