:root {
  --teal-5: #20c997;
  --lime-5: #94d82d;
  --orange-5: #ff922b;
}

html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
    sans-serif;
}
body {
  padding: 2rem;
  background-color: var(--gray-1);
}
section {
  margin-bottom: 6rem;
}


/* ------------------ */
/* Basic li item */

.agrid li,
[class*="agrid"] li {
  padding: 0.25rem;
  height: 4rem;
  border-radius: 8px;
  color: var(--gray-9);
  font-size: 1.25rem;
  font-weight: bold;
  font-family: monospace;

  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  text-align: center;

  background-color: var(--orange-5);
}