@use "./base";

@mixin generate-static-order {
  .order-first {
    --agrid-order: -1;
  }
  .order-last {
    --agrid-order: 12;
  }
  @for $i from 1 through 11 {
    .order-#{$i} {
      --agrid-order: #{$i};
    }
  }
}

@mixin generate-resp-order {
  @each $key, $value in base.$agrid-breakpoints {
    .#{$key}\:order-first {
      --agrid-order: -1;
    }
    .#{$key}\:order-last {
      --agrid-order: 12;
    }

    @media (min-width: #{$value}) {
      @for $i from 1 through 11 {
        .#{$key}\:order-#{$i} {
          --agrid-order: #{$i};
        }
      }
    }
  }
}
