@use "./base";

$agrid-order-count: 12 !default;

@mixin generate-static-order {
  .order-first {
    --agrid-order: -1;
  }
  .order-last {
    --agrid-order: #{$agrid-order-count};
  }
  @for $i from 1 through ($agrid-order-count - 1) {
    .order-#{$i} {
      --agrid-order: #{$i};
    }
  }
}

@mixin generate-resp-order {
  @each $key, $value in base.$agrid-breakpoints {
    .#{$key}\:order-first {
      --agrid-order: -1;
    }
    .#{$key}\:order-last {
      --agrid-order: #{$agrid-order-count};
    }

    @media (min-width: #{$value}) {
      @for $i from 1 through ($agrid-order-count - 1) {
        .#{$key}\:order-#{$i} {
          --agrid-order: #{$i};
        }
      }
    }
  }
}
